h1{
    text-align: center;
}

#txt_welcome{
    text-align: center;
    margin-bottom: 50px;
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    text-align: center;
}

.card_title{
    font-size: 20px;
}

.card_button{
    font-size: 25px;
    width: 150px;
    height: 30px;
}

.card_img{
    width: 300px;
}